


<div id='div1' class="container" > 
    <div id="div2"  class="row">
      <div id="div3"   class="col-sm-6 " >
          <h1>User Login form</h1>
          <img src="/assets/images/userL.png"  height="50%" width="50%" #t2/>
        </div>
      <div  class="col-sm-6 ">
         <div id="div5">
           <form #signin="ngForm">


            <input type="text" class="form-control" [(ngModel)]='user.username'
            name="username" required #username="ngModel" minlength="4"
            placeholder="Enter User Name"/>
            <span *ngIf="username.touched&&username.errors?.required">username is required</span>
            <span *ngIf="username.errors?.minlength">min length {{username.errors?.minlength.requiredLength}}</span>


            <input type="password" class="form-control" [(ngModel)]='user.password'
            name="password" required #password="ngModel" minlength="5"
            placeholder="Enter Your password"/>
            <span *ngIf="password.touched&&password.errors?.required">password is required</span>
            <span *ngIf="password.errors?.minlength">min length {{password.errors?.minlength.requiredLength}}</span>




            </form>
            <a class="btn btn-block btn1" (click)='Login()'>Login</a>
            
         </div>
         <button routerLink="/Register" style="float:right;" class=" btn1 btn">Register now</button> 
      </div>
    </div>
    
</div>