#all {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #bdbdbd;
}

#nav {
  width: 100%;
  height: 60px;
  background-color: #ede7f6;
  display: flex;
}

#TextWraper {
  height: 100%;
  flex: 1;
}
#Home {
  height: 100%;
  flex: 2;
  text-align: center;
}

#title {
  font-family: myFirstFont;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#SearchWraper {
  height: 100%;
  flex: 2;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

#ButtonWraper {
  height: 100%;
  flex: 1;
}

#photoWraper {
  height: 100%;
  flex: 1;
  text-align: center;
}

img {
  border-radius: 50%;
  margin-top: 10px;
}

#Main {
  width: 90%;
  margin: 30px auto;
  display: flex;
}

#blogSection {
  flex: 4;
  margin: 25px;
  height: 600px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
 
}

#blogSection::-webkit-scrollbar {
  display: none;
}

#secondSection {
  flex: 1;
  margin: 25px;
  height: 550px;
}

#first {
  width: 100%;
  height: 45%;
  background-color: #fff;
  padding: 15px;
}

#second {
  margin-top: 25px;
  width: 100%;
  height: 50%;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.fBlog {
  flex: 1;
  margin-bottom: 20px;
  margin: 30px;
  background-color: #fff;
  
}

.blogHeader {
  width: 100%;

  background-color: #ede7f6;
  text-align: center;
}

.blogBody {
  width: 100%;

  background-color: #fff;
  padding: 15px;
}

.Blogtitle {
  text-align: left;
  font-weight: bold;
}

.Blogcontent {
  text-align: left;
}

.commentContainer {
  width: 100%;
  height: 100px;
  display: flex;
}

#bodydiv {
  background-color: #f3e5f5;
  border-radius: 15px;
  height: 80px;
  flex: 6;
  padding: 10px;
}

#imgdiv {
  height: 80px;
  flex: 1;
}
